<h3>Neues Feature</h3>
<form id="insert_form">
  <ul class="insert_data">
    <li>
      <label>Identifier</label><input name="feature[identifier]" class="large" />
    </li>
    <li>
      <label>Title</label><input name="feature[title]" class="large" />
    </li>
    <li>
      <label>Description</label><input name="feature[description]" class="large" /><span class="btn_add">+</span>
    </li>
  </ul>
</form>
<span class="btn_l save">Speichern</span>