<h3>Neuste Features</h3>
<ul class="list">
  <% for worklet in @worklets %>
    <li><span class="btn_s"><%= worklet.created_at.strftime('%d.%m. %H:%M') %></span> <%= worklet.title %></li>
  <% end %>
</ul>