<div class="search">
  <div class="form_wrap">
    <form id="instant_form" action="/instant/answer">
      <input id="searchfield" type="text" value="" autocomplete="off" />
    </form>
  </div>
</div>
<div class="search_result">
  <ul>
    <li><span>Title</span> Hier kommt Text hinein</li>
  </ul>
</div>