<h3>Neues Feature</h3>
<form id="insert_form">
  <ul class="insert_data">
    <li>
      <input name="keyvalue[0][key]" class="small" /><input name="keyvalue[0][value]" class="large" /><span class="btn_add">+</span>
    </li>
  </ul>
</form>
<span class="btn_l save">Speichern</span>